<%= form_for @registrant do |f| %>
	<div class="row">
		<p>
			<%= f.label :password %>
			<%= f.password_field :password %>
			<%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation %>
		</p>
		<p>
			<!-- password strength meter -->
		</p>
	</div>
	<div class="row">
		<p>
			<%= f.label :user_type %>
			<%= f.select :user_type, options_for_select(["Madrich/a", "Teacher"]) %>
		</p>
	</div>
	<div class="row">
		<p>
			<%= f.submit :class => "small button" %>
		</p>
	</div>
<% end %>
